<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPOSInterfaceService" />
        <binding name="BasicHttpBinding_IPOSInterfaceService1" />
        <binding name="BasicHttpBinding_IPOSInterfaceService2" />
        <binding name="BasicHttpBinding_IPOSInterfaceService11">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="CustomBinding_IPOSInterfaceService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" algorithmSuite="Basic256Sha256" establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="CustomBinding_IPOSInterfaceService1">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" algorithmSuite="Basic256Sha256" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://geoitddev.geocom.com.uy:8554/v2/ITDService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPOSInterfaceService"
        contract="GeocomWS.IPOSInterfaceService" name="BasicHttpBinding_IPOSInterfaceService" />-->
      <endpoint address="http://geoitd.geocom.com.uy:8554/v2/ITDService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPOSInterfaceService1" contract="GeocomWSProductivo.IPOSInterfaceService" name="BasicHttpBinding_IPOSInterfaceService1" />
      <!--<endpoint address="https://geoitd.geocom.com.uy:8556/v2/ITDService/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPOSInterfaceService11"
        contract="GeocomWSProductivo.IPOSInterfaceService" name="BasicHttpBinding_IPOSInterfaceService11" />
      <endpoint address="https://geoitd.geocom.com.uy:8556/v2/ITDService/wSign"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPOSInterfaceService"
        contract="GeocomWSProductivo.IPOSInterfaceService" name="CustomBinding_IPOSInterfaceService" />-->
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
